name: .NET Unit Tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build-and-test:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 9.0

      - name: Restore dependencies
        run: dotnet restore Implementierung/Tierhandlung_Projekt.1_Moritz_Kolb.sln

      - name: Build solution
        run: dotnet build Implementierung/Tierhandlung_Projekt.1_Moritz_Kolb.sln --no-restore --configuration Release

      - name: Run tests
        run: dotnet test Implementierung/Tierhandlung_Projekt.1_Moritz_Kolb.sln --no-build --configuration Release --logger "trx;LogFileName=test_results.trx"
